/* src/features/auth/LoginPage.module.css */

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mantine-color-dark-8);
}

.title {
    /* Usamos el color primario de nuestro tema */
    color: var(--mantine-color-red-7); 
    font-family: var(--mantine-font-family);
}

.logo {
    max-width: 180px;
    margin-bottom: var(--mantine-spacing-lg);
}

.forgotPasswordLink {
    text-align: right;
    margin-top: var(--mantine-spacing-sm);
    display: block;
}