/* src/features/areas/components/AreasTable.module.css */
.th {
    padding: 0 !important;
}

.control {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.icon {
    width: rem(21px);
    height: rem(21px);
    border-radius: rem(21px);
}

.thead > tr > th {
    background-color: var(--mantine-color-dark-6);
}

.td, .th {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md) !important;
}

.tr[data-selected] {
    background-color: var(--mantine-color-dark-9);
}